################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSOTesting/Microsoft.Identity.Web/bin/Debug/netcoreapp2.2
/SSOTesting/Microsoft.Identity.Web/obj
/SSOTesting/SSOTesting/.vs/SSOTesting
/SSOTesting/SSOTesting/bin/Debug/netcoreapp2.2
